<h2><%= t('.pieces') %></h2>

<%= form_tag pieces_path, :method => 'get' do %>  
  <p>  
    <%= text_field_tag :search, params[:search], :class => "input_field" %>  
    <%= submit_tag t('.search'), :name => nil, :class => "button" %>  
    <%= link_to t('.new_piece'), new_piece_path, :class => "button" %>
  </p>  
<% end %>  

<table>
  <tr class="table_header">
    <th class="text_column"><%= t('.title') %></th>
    <th class="text_column"><%= t('.composer') %></th>
    <th class="number_column"><%= t('.drawer') %></th>
    <th class="number_column"><%= t('.number') %></th>
    <th></th>
    <th></th>
  </tr>

<% @pieces.each do |piece| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="text_column"><%= piece.title %></td>
    <td class="text_column"><%= piece.composer %></td>
    <td class="number_column"><%= piece.drawer %></td>
    <td class="number_column"><%= piece.number %></td>
    <td><%= link_to t('.edit_piece'), edit_piece_path(piece), :class => "button" %></td>
    <td><%= link_to t('.destroy_piece'), piece, method: :delete, data: { confirm: t('.confirm_delete') }, :class => "destroy_button" %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @pieces, :class => "digg_pagination" %>
