<h2><%= t('.pieces') %></h2>

<%= form_tag pieces_path, :method => 'get' do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag t('.search'), :name => nil %>  
  </p>  
<% end %>  

<table>
  <tr class="table_header">
    <th><%= t('.title') %></th>
    <th><%= t('.composer') %></th>
    <th><%= t('.drawer') %></th>
    <th><%= t('.number') %></th>
    <th></th>
    <th></th>
  </tr>

<% @pieces.each do |piece| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= piece.title %></td>
    <td><%= piece.composer %></td>
    <td class="number_column"><%= piece.drawer %></td>
    <td class="number_column"><%= piece.number %></td>
    <td><%= link_to t('.edit_piece'), edit_piece_path(piece), :class => "action_edit" %></td>
    <td><%= link_to t('.destroy_piece'), piece, method: :delete, data: { confirm: t('.confirm_delete') }, :class => "action_destroy" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_piece'), new_piece_path, :class => "new_piece_link" %>
<p><%= will_paginate @pieces %></p>
