<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.title') %></b>
  <%= @piece.title %>
</p>

<p>
  <b><%= t('.composer') %></b>
  <%= @piece.composer %>
</p>

<p>
  <b><%= t('.drawer') %></b>
  <%= @piece.drawer %>
</p>

<p>
  <b><%= t('.number') %></b>
  <%= @piece.number %>
</p>


<%= link_to t('.edit_piece'), edit_piece_path(@piece), :class => "button" %> |
<%= link_to t('.back_to_pieces_list'), pieces_path, :class => "button" %>
